<header>
  <nav>
    <ul>
      <li class="nav-item <%= path === '/' ? 'nav-item--active' : '' %>">
        <a href="/">Shop</a>
      </li>
      <li
        class="nav-item <%= path === '/admin/add-product' ? 'nav-item--active' : '' %>"
      >
        <a href="/admin/add-product">Admin</a>
      </li>
    </ul>
  </nav>
</header>
