<%- include('includes/head') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <% if(users.length > 0) { %>
    <ul>
        <% users.forEach(user => { %>
        <li>
            <%= user %>
        </li>
        <% }); %>
    </ul>
    <% } else { %>
    <p>No users found.</p>
    <% } %>
</body>

</html>