<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The site is in maintenance mode.</title>
</head>

<body>
    <h1>The site is currently being updated. We'll be back in a moment.</h1>
</body>

</html>