<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="navItem"><a href="/">Home</a></li>
                <li class="navItem navItem--active"><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Users</h1>
        <ul>
            <li>Allen</li>
            <li>Barbara</li>
            <li>Cat</li>
        </ul>
    </main>
</body>

</html>