<header>
    <h1>{{pageTitle}}</h1>
    <nav role="navigation">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
        </ul>
    </nav>
    <p>{{pageMessage}}</p>
</header>