<header>
    <nav>
        <ul>
            <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
            <li><a href="/users" class="<%= path === '/users' ? 'active' : '' %>">Users</a></li>
        </ul>
    </nav>
</header>